body {
    font-family: Arial;
    text-align: center;
    background: #f0f2f5;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #2e7d32;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}

img {
    border-radius: 12px;
    margin-top: 20px;
}